/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Jul, 2014, 10:39:18 PM
    Author     : Kuldeep
*/

 .upload_wrapper {
	position: relative;
	overflow: hidden;
        cursor: pointer;
	//margin: 10px;
}
.upload_wrapper input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
#name
{
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    
}